/* px --> em */

body {
    margin: 0;
    padding: 0;
    background-color: #F5F3EF;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    /* zoom: 0.8;
    transform-origin: 0 0; */
}

/* @media (max-width: 1280px) { 
    body {
        zoom: 0.6;
    }
}

@media (max-width: 640px) { 
    body {
        zoom: 0.35;
    }
} */

#nav-bar {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    /* padding-right: 100px; */
    /* padding-bottom: 80px; */
}

#name {
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    align-content: center;
    margin: 0px;
    /* justify-content: baseline; */
}

#nav-right-items {
    display: flex;
}

.nav-txt {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
}

#greeting {
    display: flex;
    justify-content: center;
    /* flex-direction: row;
    align-items: flex-start; */
    margin-top: 15px;
}

#greeting div {
    padding: 5%;
    /* padding: 20px; */
    width: 35%;
}

.footer {
    padding-top: 100px;
    width: 100%;
}

h1, h2 {
    font-family: 'Righteous';
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: #37569E;
    margin: 0px;
}

/* rm */
#home {
    font-family: 'Righteous';
    font-size: 22px;
    color: #37569E;
}

p, a {
    font-family: "Work Sans";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-decoration: none;
    color: #000000;
}

.descr {
    font-style: italic;
}

.nav-item a {
    font-family: 'Righteous';
    font-size: 18px;
    padding-left: 40px;
    padding-right: 40px;
    /* padding: 3px 30px; */
    /* border-radius: 10px; */
    /* width: 100%; */
}

a.active-button {
    color: #37569E;
    /* color: #FFFFFF;
    background-color: #37569E;
    border-radius: 10px;
    padding: 3px 20px;
    border-radius: 10px; */
    /* left: 470px; top: 41px; width: 84px; height: 27px; z-index: 302; border-radius: 10px; */
}

.nav-item a:hover:not(.active-button) {   
    /* color: white; */
    color: #687EB2;
    /* background-color: #687EB2; */
    /* transition-delay: 0.2s;
    transition-timing-function: ease; */
    /* border-radius: 20px;
    padding: 15px 30px; */
}

#name p, h2 {
    margin: 0px;
}

#waving-gif {
    width: 40%;
    /* width: 408px; 
    height: 660px; */
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #000000;
    margin: 1em 0;
    padding: 0;
    width: 100%;
}

.footer a {
    padding: 5%;
}

.footer a:hover {
    font-style: italic;
    color: #687EB2;
}