/* px --> em */
/* 18px --> 20px??? */
html{
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    margin: 0;
    padding: 2%;
    /* transform-origin: 0 0; */
    background-color: #F5F3EF;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1800px;
}

@media (max-width: 640px) { 
    body {
        zoom: 0.6;
    }
    .section {
        justify-content: center;
    }
    /* hidden nav --> visibile dropdown */
}

/* text */
p, a {
    font-family: "Work Sans";
    font-weight: 400;
    font-style: light;
    font-size: 18px;
    text-decoration: none;
    color: #000000;
}

#title {
    font-weight: 500;
    font-style: normal;
}

/* a:hover:not(.active-button) {
    font-style: italic;
} */

h1 {
    color: #37569E;
}

#home, h1, h2, h3 {
    font-family: "chippewa-falls", sans-serif;
    font-weight: 500;
    font-size: 50px;
    margin: 0px;
}

h3 {
    font-size: 35px;
}

.descr {
    font-style: italic;
    margin: 0px;
    /* font-size: 14px; */
}

a.nav-item {
    font-family: "chippewa-falls", sans-serif;
    font-size: 35px;
    padding-left: 40px;
    padding-right: 40px;
}

/* navigation menu */
#nav-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    /* padding-right: 100px; */
    /* padding-bottom: 80px; */
    /* flex-wrap: wrap; */
}

#name {
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    align-content: center;
    margin: 0px;
    /* justify-content: baseline; */
    /* min-width: 300px; */
    white-space: nowrap;
}

#nav-txt {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#greeting {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* flex-direction: row;
    align-items: flex-start; */
    /* margin-top: 15px; */
    max-width: 1200px;
}

#greeting div {
    padding: 10% 5% 5% 5%;
    /* padding: 20px; */
    width: 35%;
    min-width: 400px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 5%;
    width: 100%;
}

a.active-button {
    color: #37569E;
}

#nav-bar a:hover:not(.active-button) {   
    color: #687EB2;
}

/* #name p {
    margin: 0px;
} */

#waving-gif {
    margin-top: 5%;
    width: 40%;
    min-width: 480px;
}

/* huh */
hr {
    display:block;
    height: 1px;
    border: 0;
    border-top: 3px solid #000000;
    /* margin: 1em 0; */
    padding: 1%;
    width: 100%;
}

.footer a:hover {
    font-style: italic;
    color: #687EB2;
}

/* about css */

#me {
    width: 40%;
    height: 40%;
    /* margin: 5%; */
    margin: 10% 5% 5% 5%;
    /* margin: 100px 5% 5% 5%; */
    min-width: 350px;
}

#dogs {
    width: 50%;
    /* temp fix */
    padding-left: 20%; 
}

/* work-projs */
#project-holder, #project-page {
    display: flex;
    flex-direction: column;
}

.proj {
    display: flex;
    flex-direction: column;
    margin: 40px 20px 40px 20px;
    /* width: 40%; */
    max-width: 550px;
    /* padding: 80px; */
    /* padding: 60px; */
    flex-basis: 50%;
}

.section {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
}

img {
    border-radius: 20px;
}

#project-holder h2{
    /* align-self: flex-start; */
    margin: 100px 0px 0px 20px;
}

#project-holder h3 {
    margin-top: 25px;
}

#love {
    padding: 1%;
    width: 15%;
    min-width: 380px;
}

/* .dropdown-menu {
    https://www.w3schools.com/howto/howto_js_dropdown.asp
} */

/* project pages */
.project-pg {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner {
    margin-top: 10%;
    width: 90%;
    
}

/* .project-pg div {
    width: 85%;
    padding: 5% 0% 5% 0%;
} */

.project-pg h1 {
    color: #000000;
    /* padding-bottom: 2%; */
}

.project-pg img {
    width: 90%;
}

.intro, .body {
    width: 85%;
    padding: 5% 0% 5% 0%;
}

.intro {
    display: flex;
}

.brief {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    /* padding-left: 5%; */
    padding-right: 5%;
}

.details {
    display: flex;
    flex-direction: column;
    /* padding: 0% 5% 0% 5%; */
    max-width: 1000px;
}

.gallery {
    padding: 5%;

    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */

    /* flex-direction: column;
    flex-flow: column wrap;
    align-items: center; */
    /* position: relative; */
}

/* https://css-tricks.com/almanac/properties/p/position/ */
.gallery img {
    width: 30%;
    height: 30%;
    margin: 1%;
    /* position: absolute;
    top: 0;
    left: 0; */
}









/* test fr w3 */

.gallery-row {
    display: flex;
    flex-wrap: wrap;
    /* padding: 0 4px; */
    padding: 5%;
  }
  
/* Create four equal columns that sits next to each other */
.gallery-col {
    /* display: flex;
    flex-direction: column; */

    flex: 30%;
    max-width: 30%;
    /* padding: 0 4px; */
    margin: 1%;
}
  
.gallery-col img {
    /* margin-top: 8px; */
    /* vertical-align: middle; */
    width: 100%;

    /* width: 30%;
    height: 30%; */
    margin: 1%;
}
  
/* Responsive layout - makes a two column-layout instead of four columns */
/* @media screen and (max-width: 800px) {
  .gallery-col {
    flex: 50%;
    max-width: 50%;
  }
} */
  
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
/* @media screen and (max-width: 600px) {
  .gallery-col {
    flex: 100%;
    max-width: 100%;
  }
} */